h1 {
    border: 1px solid;
    border-radius: 30px;
    margin: auto;
    border-color: black;


}

body {

    text-align: center;
    background-color: white;
    background-repeat: no-repeat;


}

table,
th,
td {
    border: 1px solid black;
    
}